.product{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}
.boxes{
    margin-top: 50px;
    display: flex;
    gap: 10px;
}
.box{
    width: 20px;
    height: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.223);
}
.box:hover{
    background-color: rgb(255, 98, 0);
    color: white;
    cursor: pointer;
}

@media screen and (max-width:450px) {
    .heading select{
        display: none;
    }
}