.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    color: rgb(82, 82, 82);
    transition: transform 0.3s ease; /* Smooth transition */
}
.item:hover{
    transform: translateY(-5px); /* Move up by 5px on hover */
}
.stars{
    display: flex;
    gap: 5px;
}