.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #ffd6d6;
    position: relative;
}

.navbar .logo img {
    height: 30px;
    filter: grayscale(0%);
}

.hamburger {
    display: none; /* Initially hidden */
    cursor: pointer;
}

.hamburger-icon {
    height: 25px; /* Adjust the size as needed */
    transition: transform 0.3s ease;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-links li a{
    text-decoration: none;
}

/* Media Query for Mobile */
@media (max-width: 550px) {
    .hamburger {
        display: flex;
        gap: 15px;
    }

    .nav-links {
        visibility: hidden;
        flex-direction: column;
        width: 100%;
        align-items: center;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
        max-height: 0;
        position: absolute;
        right: 5px;
        top: 60px;
        background-color: #111111;
    }

    .nav-links.open {
        visibility: visible;
        max-height: 300px; /* Adjust this value based on the number of items */
    }
    .nav-links li a{
        color: white;
        font-weight: 500;
    }
    .hamburger li{
        list-style: none;
    }
    .open-c{
        display: none;
    }
}
